In [2]:
import pandas as pd

In [3]:
#Grouping and Aggregation

In [4]:
#Aggregation

In [10]:
df=pd.read_csv("Data Model - Pizza Sales.csv")
schema_df=pd.read_csv("Data Model - Pizza Sales.csv")
pd.set_option('display.max_columns',13)
pd.set_option('display.max_rows',10)
df.head()

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [14]:
df['total_price']

0        13.25
1        16.00
2        18.50
3        20.75
4        16.00
         ...
48615    16.75
48616    17.95
48617    12.00
48618    20.25
48619    12.75
Name: total_price, Length: 48620, dtype: float64

In [15]:
df['total_price'].median()

16.5

In [16]:
df['total_price'].mean()

16.821473673385437

In [17]:
df.median

<bound method DataFrame.median of        order_details_id  order_id       pizza_id  quantity  order_date  \
0                     1         1     hawaiian_m         1    1/1/2015
1                     2         2  classic_dlx_m         1    1/1/2015
2                     3         2  five_cheese_l         1    1/1/2015
3                     4         2    ital_supr_l         1    1/1/2015
4                     5         2     mexicana_m         1    1/1/2015
...                 ...       ...            ...       ...         ...
48615             48616     21348  ckn_alfredo_m         1  12/31/2015
48616             48617     21348  four_cheese_l         1  12/31/2015
48617             48618     21348   napolitana_s         1  12/31/2015
48618             48619     21349     mexicana_l         1  12/31/2015
48619             48620     21350      bbq_ckn_s         1  12/31/2015

      order_time  unit_price  total_price pizza_size pizza_category  \
0       11:38:36       13.25        13.25          M        Classic
1       11:57:40       16.00        16.00          M        Classic
2       11:57:40       18.50        18.50          L         Veggie
3       11:57:40       20.75        20.75          L        Supreme
4       11:57:40       16.00        16.00          M         Veggie
...          ...         ...          ...        ...            ...
48615   21:23:10       16.75        16.75          M        Chicken
48616   21:23:10       17.95        17.95          L         Veggie
48617   21:23:10       12.00        12.00          S        Classic
48618   22:09:54       20.25        20.25          L         Veggie
48619   23:02:05       12.75        12.75          S        Chicken

                                       pizza_ingredients  \
0               Sliced Ham, Pineapple, Mozzarella Cheese
1      Pepperoni, Mushrooms, Red Onions, Red Peppers,...
2      Mozzarella Cheese, Provolone Cheese, Smoked Go...
3      Calabrese Salami, Capocollo, Tomatoes, Red Oni...
4      Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
...                                                  ...
48615  Chicken, Red Onions, Red Peppers, Mushrooms, A...
48616  Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...
48617  Tomatoes, Anchovies, Green Olives, Red Onions,...
48618  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
48619  Barbecued Chicken, Red Peppers, Green Peppers,...

                       pizza_name
0              The Hawaiian Pizza
1        The Classic Deluxe Pizza
2           The Five Cheese Pizza
3       The Italian Supreme Pizza
4              The Mexicana Pizza
...                           ...
48615   The Chicken Alfredo Pizza
48616       The Four Cheese Pizza
48617        The Napolitana Pizza
48618          The Mexicana Pizza
48619  The Barbecue Chicken Pizza

[48620 rows x 12 columns]>

In [20]:
#To get a broad overview of the dataset
df.describe()

,order_details_id,order_id,quantity,unit_price,total_price
count,48620.000000,48620.000000,48620.000000,48620.000000,48620.000000
mean,24310.500000,10701.479761,1.019622,16.494132,16.821474
std,14035.529381,6180.119770,0.143077,3.621789,4.437398
min,1.000000,1.000000,1.000000,9.750000,9.750000
25%,12155.750000,5337.000000,1.000000,12.750000,12.750000
50%,24310.500000,10682.500000,1.000000,16.500000,16.500000
75%,36465.250000,16100.000000,1.000000,20.250000,20.500000
max,48620.000000,21350.000000,4.000000,35.950000,83.000000

In [21]:
df['total_price'].count()

48620

In [27]:
df['total_price'].value_counts()

total_price
20.75    8485
12.00    5465
16.00    4428
16.75    4211
16.50    3970
         ...
37.50       2
83.00       1
61.50       1
49.50       1
55.50       1
Name: count, Length: 56, dtype: int64

In [29]:
df['total_price'].mode()

0    20.75
Name: total_price, dtype: float64

In [30]:
#Group By

df.groupby(['pizza_name'])

In [32]:
# avoid the above output
#Use by grouping into a variable

a=df.groupby(['pizza_name'])
a.get_group('The Five Cheese Pizza')

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
2,3,2,five_cheese_l,1,1/1/2015,11:57:40,18.5,18.5,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
36,37,15,five_cheese_l,1,1/1/2015,13:33:00,18.5,18.5,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
44,45,17,five_cheese_l,1,1/1/2015,13:53:00,18.5,18.5,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
56,57,20,five_cheese_l,1,1/1/2015,14:03:08,18.5,18.5,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
58,59,22,five_cheese_l,1,1/1/2015,14:16:26,18.5,18.5,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
48462,48463,21286,five_cheese_l,1,12/31/2015,12:44:37,18.5,18.5,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
48467,48468,21288,five_cheese_l,1,12/31/2015,13:04:18,18.5,18.5,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
48496,48497,21298,five_cheese_l,1,12/31/2015,15:35:37,18.5,18.5,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
48590,48591,21338,five_cheese_l,1,12/31/2015,19:35:53,18.5,18.5,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
48596,48597,21342,five_cheese_l,1,12/31/2015,20:02:57,18.5,18.5,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza

In [37]:
# To get a one specific value's information
filt=df['pizza_name']=='The Five Cheese Pizza'
df.loc[filt]['pizza_id'].value_counts()

pizza_id
five_cheese_l    1359
Name: count, dtype: int64

In [38]:
a['pizza_id'].value_counts().head(10)

pizza_name                    pizza_id
The Barbecue Chicken Pizza    bbq_ckn_l        967
                              bbq_ckn_m        926
                              bbq_ckn_s        479
The Big Meat Pizza            big_meat_s      1811
The Brie Carre Pizza          brie_carre_s     480
The Calabrese Pizza           calabrese_m      554
                              calabrese_l      274
                              calabrese_s       99
The California Chicken Pizza  cali_ckn_m       914
                              cali_ckn_l       895
Name: count, dtype: int64

In [39]:
a['pizza_id'].value_counts()

pizza_name                         pizza_id
The Barbecue Chicken Pizza         bbq_ckn_l        967
                                   bbq_ckn_m        926
                                   bbq_ckn_s        479
The Big Meat Pizza                 big_meat_s      1811
The Brie Carre Pizza               brie_carre_s     480
                                                   ...
The Thai Chicken Pizza             thai_ckn_s       476
                                   thai_ckn_m       474
The Vegetables + Vegetables Pizza  veggie_veg_m     630
                                   veggie_veg_s     457
                                   veggie_veg_l     423
Name: count, Length: 91, dtype: int64

In [ ]:
#Concat